.action-entries {
    display: flex;
    list-style: none;
    border-radius: 5px;
    padding-inline-start:0px;
}

.action-entry {
    display: flex;
    align-items: center;
    position: relative;
    border:  1px solid rgb(220, 223, 230);
}

.switch-btn {
    display: block;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 223, 230);
    width: 164px;
    height: 32px;
    text-align: left;
}

.list-content {
    list-style: none;
    width: 164px;
    border: 1px solid '#cdcdcd';
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(43, 43, 51, 1);
    position: absolute;
    padding: 8px;
    top: calc(100% + 4px);
    z-index: 500;
    background-color: #f9f9fb;
}

.option-item {
    width: 100%;
    height: 32px;
    display: list-item;
   
}

.option-btn{
    text-align: left;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
}
.option-btn:hover{
    background-color: rgb(245, 247, 250);
}

.placeholder-text{
    color: rgb(194, 198, 205);
}