@import "../../css/units.css";
@import "../../css/colors.css";

.tool-container {
    box-sizing: border-box;
    padding: 0px 5px;
}

.tool-content{
    display: flex;
    justify-content: space-around;
}

.title{
    text-align: left;
    color: rgb(96, 98, 102);
}

.control{
    display: flex;

}